@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&display=swap');

$color-primary: lightgrey;
$color-secondary: wheat;
$color-tertiary: darkred;

$font-main:'Abril Fatface', cursive;
$font-paragraphs:'Courgette', cursive;

