@use "../../../assets/scss/variables" as *;
.beer-info{
    display: flex;
    flex-direction:column;
    align-content: center;
    padding: 10%;
    text-align: center;
    &_img{
        padding: 10px;
        img{
            height: 200px;
        }
    }
}
@media only screen and (min-width: 768px) {
    .beer-info{
        flex-direction:row;
        &_img{
            width: 50%;
            padding: 10px;
            img{
                height: 200px;
            }
        }
        &_content{
            width: 50%;
        }
    }
}