.navBar{
    background-color: wheat;
    border-bottom: 2px solid darkred;
}

@media only screen and (min-width: 768px) {
    .navBar{
        background-color: wheat;
        border-right: 2px solid darkred;
        height: 100vh;
    }
}