@use "../../../assets/scss/variables" as *;
.filterList{
    display: flex;
    justify-content: center;
    flex-direction: column;
    &_filters{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    &_button{
        display: flex;
        justify-content: center;
        padding: 10px;
        button{
            background-color: $color-tertiary;
            color: $color-secondary;
            padding: 10px;
        }
    }
}

.hideFilters{
    display: flex;
    align-items: flex-end;
    justify-content: right;
    text-align: center;
    padding-right: 10px;
    
}

@media only screen and (min-width: 768px) {
    .filterList_filters{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
}