.card_content{
    width: 200px;
    height: 400px;
    padding: 20px;
    background-color: wheat;
    border: 2px solid lightgray;
    box-shadow: 2px gray;
    text-align: center;
    img{
        height: 200px;
    
    }
}
.allLinks{
    text-decoration: none;
}