@use "./assets/scss/variables"as *;
* {
    margin-top: 0;
    font-family: $font-main;
    p{
        font-family: $font-paragraphs;
    }
  }
.app{
    background-color: $color-primary;
}

.title{
    background-color: $color-secondary;
    border-bottom: 2px solid $color-tertiary;
    display: grid;
    grid-template-rows:  1fr;
    grid-template-columns: 1fr 5fr;
    gap:10%;
    h1{
        text-align: center;
        padding: 10px;
        display: flex;
        justify-content:left;  
    }
    .home{
        display: flex;
        justify-content: left;
        padding: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .mainPage{
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
    .title{
        gap: 40%;
    }
}
